
<div id="about_us">
  <h1>The definition of a good About Us page</h1>
  <p id="about_us_intro">I need to start this article by qualifying what makes an amazing About Us page. The reason for this is that some About Us pages look amazing but have terrible content whilst others look terrible but grab your attention immediately. The list I have compiled here are based on the fact that they:</p>
  <br>
  <strong><p>Get the point across</p></strong>
  <p>First and foremost an About Us page has to get a point across. Everything else is completely and utterly useless unless the content and the layout is achieving a goal. That goal is to tell the user who you are by showing them what you can do for them or have done for others.</p>
  <br>
  <strong><p>Give you the information you need</p></strong>
  <p>Some About Us pages spend the whole time talking about what it is that the company does and nothing about the staff members. Some do the opposite. Unless the page gives the information that you need based on the type of site you are on then it won’t make the list.</p>
</div>